<%= form_with(model: quest, class: "space-y-4") do |form| %>
  <div>
    <%= form.text_field :name, class: "border rounded px-3 py-2 w-full", placeholder: "Quest name" %>
  </div>
  <div>
    <%= form.submit class: "bg-blue-500 text-white px-4 py-2 rounded cursor-pointer" %>
  </div>
<% end %>
