<h1>My Quests</h1>

<%= link_to "New Quest", new_quest_path %>

<ul>
  <% @quests.each do |quest| %>
    <li>
      <%= link_to quest.name, quest_path(quest) %>
      <%= link_to "Edit", edit_quest_path(quest) %>
      <%= link_to "Delete", quest_path(quest), data: { turbo_method: :delete } %>
    </li>
  <% end %>
</ul>
